@use '../../../../styles/pallete' as plt;
@use '../../../../styles/animation.scss' as *;

.play-hitzone {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: plt.$bg-surface;
    $width-border: 3px;
    $color-border: lighten(plt.$border, 20%);
    border-top: $width-border solid $color-border;
    border-bottom: $width-border solid $color-border;
    //animacao de fundo scanner
    @include scanner-loanding;

    .wraper-keys-move {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 68px;

        //KeyPlayer.scss
    }

    .detector {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        padding: 0 10px 0 10px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
}